<header class="section-header">
    <div class="section-title title-with-separator">
        <h1 class="title">CALIN'S ALBUM SHOP</h1>
    </div>
    <span class="sub-title">A place full of Music</span>
</header>

<a class="btn see-catalogue bstrap-button-nav-style" asp-action="Index" asp-controller="Home" asp-route-genre="Catalogue"
        asp-route-prodPage="1" target="_self" style="border: 2px solid black; margin-bottom: 50px; margin-top: 40   px">SEE THE CATALOGUE</a>

<div style="float: left">
    <div class="question to-upper-case">
        what is this place?
    </div>
    <div class="answer">
        Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder 
    </div>
</div>
