<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Album Shop</title>
    <link rel="stylesheet" href="/lib/dist/css/toruskit.bundle.css"/>
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Album Shop</span>
    </div>
    <div class="m-1 p-1">
        @RenderBody()   
    </div>
</body>
</html>