<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Album Shop</title> 
</head>
<style>
    .centered{
        text-align: center;
    }
</style>
<body>
    <div class="centered">
        @RenderBody()
    </div>
</body>
</html>