<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Album Shop</title> 
    <link rel="stylesheet" href="/lib/dist/css/toruskit.bundle.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/lib/dist/css/customfonts.css"/>
    <link rel="stylesheet" href="/lib/dist/css/calinscss.css"/>
</head>
<style>

    .centered{
        text-align: center;
    }

    .my-title{
        font-family: "Josefin Sans";
        position: relative;
    }
    
</style>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2 my-title">Album Shop</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <vc:navigation-menu/>
        </div>    
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>